################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JennyCasey_Assign4/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
